// Search button
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    #search-button {
        height: 3.2rem;
        width: 9rem;
        background: #0C6FF8;
        border-color: #0C6FF8;
        border-radius: 3px;
        padding: 8px 16px;
        margin: 10px;
        font-size: 16px;
        
        &:hover {
            background: #40a9ff;
            border-color: #40a9ff;
        }
        
        &:disabled {
            background-color: #f5f5f5;
            border-color: #d9d9d9;
            color: rgba(0, 0, 0, 0.25);
        }
    }
}